NEBIUS_API_KEY=XXX
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXX
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=us-east-1
OBJECT_STORAGE_BUCKET=
PROJECT_ROOT=/workspace/project
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=mini-swe-bench
